@import url(https://fonts.googleapis.com/css?family=Sniglet:800|Nixie+One|Raleway:500);
body {
  padding: 25px;
  background: #EEF0F2; }

.bold {
  font-weight: bolder; }

p {
  font-family: "Raleway";
  color: #292F36; }

nav {
  display: flex;
  width: 100%;
  height: 35px;
  font-family: "Raleway"; }

.leftNav {
  width: 300px;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  position: absolute;
  left: 5%; }

.rightNav {
  width: 250px;
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  position: absolute;
  right: 5%; }
  .rightNav .icon {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px; }

a {
  color: #292F36;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.main {
  height: 800px;
  width: 96.5vw; }

.img-resize {
  width: 300px;
  margin: 50px; }

.separate {
  border: 1px solid #292F36;
  margin-top: 8px; }

.separate2 {
  border: 1px solid #292F36;
  margin-top: 5px; }

li {
  list-style: none; }

#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center; }

#overlay img {
  margin-top: 12%;
  height: 300px; }

#overlay p {
  color: white; }

#main-page {
  width: 100%;
  display: flex;
  justify-content: center; }
  #main-page .name {
    color: #292F36; }
  #main-page .first {
    font-family: "Sniglet";
    font-weight: 100;
    font-size: 500%; }
  #main-page .last {
    font-family: "Sniglet";
    font-weight: 100;
    font-size: 500%; }
  #main-page .title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 850px; }
  #main-page .nbsp {
    min-height: 300px;
    width: 200px;
    position: relative; }
  #main-page .bow {
    position: absolute; }
  #main-page #head {
    /*   border: 2px solid red; */
    z-index: -1;
    top: 0px; }
  #main-page .loop {
    top: 165px; }
  #main-page .ribbon {
    top: 210px; }
  #main-page #loopL {
    /*   border: 2px solid orange; */ }
  #main-page #loopR {
    /*   border: 2px solid green; */
    left: 112px; }
  #main-page #ribbonR {
    /*   border: 2px solid blue; */
    left: 105px;
    animation-name: ribbonR-movement;
    animation-duration: 4s; }
@keyframes ribbonR-movement {
  25% {
    top: 212px;
    left: 100px;
    transform: rotate(7deg); }
  50% {
    top: 210px;
    left: 105px;
    transform: rotate(0deg); }
  75% {
    top: 212px;
    left: 100px;
    transform: rotate(7deg); } }
  #main-page #ribbonL {
    /*   border: 2px solid pink; */
    left: 55px;
    animation-name: ribbonL-movement;
    animation-duration: 4s; }
@keyframes ribbonL-movement {
  25% {
    left: 50px;
    transform: rotate(7deg); }
  50% {
    left: 55px;
    transform: rotate(0deg); }
  75% {
    left: 50px;
    transform: rotate(7deg); } }
  #main-page .annoyingdiv {
    display: flex;
    justify-content: center; }
  #main-page .bio-box {
    display: flex;
    max-width: 650px; }
  #main-page .contact {
    display: flex;
    justify-content: center; }

#design-page .img-design {
  max-width: 300px; }

#illustration-page .img-illustration {
  max-height: 200px; }
#illustration-page .img-container {
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between; }

/*# sourceMappingURL=main.css.map */
