body {
  padding: 25px;
  background: $white;
}

.bold {
  font-weight: bolder;
}

.header {
  font-family: "Sniglet";
  font-size: 70px;
  text-align: center;
}

p {
  font-family: "Nixie One";
  color: $grey;
}

nav {
  font-family: "Nixie One";
  font-weight: 100;
  font-size: 40px;
  display: flex;
  justify-content: space-between;
}

a {
  color: $grey;
  text-decoration: none;
  // border: 1px solid $grey;

  &:hover {
    color: $blue;
  }
}

.main {
  // border: 1px solid $grey;
  height: 800px;;
  width: 96.5vw;
}

.img-resize {
  width: 300px;
  margin: 50px;
}

.separate {
border: 1px solid $grey;
margin-top: 8px;
}
.separate2 {
border: 1px solid $grey;
margin-top: 5px;
}
