#illustration-page {

  .img-illustration {
    @media screen and (min-width: 1150px){
      max-height: 200px;
    }
    @media screen and (min-width: 950px) and (max-width: 1149px){
      max-height: 165px;
    }
    @media screen and (min-width: 730px) and (max-width: 949px){
      max-height: 125px;
      display: flex;
    }
  }

  .img-container {
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 549px) {
    img {
      max-height: 250px;
      max-width: 95%;
      margin-bottom: 10%;
    }
    .img-container {
      display: block;
      text-align: center;
    }
  }

  @media screen and (min-width: 550px) and (max-width: 729px) {
    img {
      max-height: 325px;
      max-width: 95%;
      margin-bottom: 10%;
    }
    .img-container {
      display: block;
      text-align: center;
    }
  }

  ul {
    padding: 0px;
  }

}
