#main-page {

  .name {
    font-family: "Sniglet";
    font-weight:100;
    font-size: 75px;
    color: $grey;
    display: flex;
    justify-content: center;
  }

  .separate {
  border: 1px solid black;
  margin-top: 8px;
}
.separate2 {
  border: 1px solid black;
  margin-top: 5px;
}
.skull {
  width: 165px;
  display: flex;
}

.first{
  display: flex;
}

.last {
  display: flex;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 7%;
}

.annoyingdiv {
  display: flex;
  justify-content: center;
}

.bio-box {
  display: flex;
  width: 650px;
  // border: 1px solid black;
}

.social-media {
  display: flex;
  justify-content: center;

  .gmail, .linkedin, .github, .behance {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;

  }
}

.contact {
  display: flex;
  justify-content: center;
}

}
