#main-page {
  width: 100%;
  display: flex;
  justify-content: center;
  // border: solid blue 1px;

  .name {
    color: $grey;
   }

  .first {
    font-family: "Sniglet";
    font-weight: 100;
    font-size: 450%;
    @media only screen and (min-width: 580px) and (max-width: 799px) {
      font-size: 350%;
    }
    @media only screen and (max-width: 579px) {
      font-size: 225%;
    }
  }

  .last {
    font-family: "Sniglet";
    font-weight: 100;
    font-size: 450%;
    @media only screen and (min-width: 580px) and (max-width: 799px) {
      font-size: 350%;
    }
    @media only screen and (max-width: 579px) {
      font-size: 225%;
    }
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // border: solid red 1px;
  }
  @media only screen and (min-width: 800px){

  .nbsp {
    min-height: 300px;
    width: 200px;
    // border: 2px solid gray;
    position: relative;

  }

  .bow {
    position: absolute;
  }

  #head {
  /*   border: 2px solid red; */
    z-index: -1;
    top: 0px;
  }

  .loop {
    top: 165px;
  }

  .ribbon {
    top: 210px;
  }

  #loopL {
  /*   border: 2px solid orange; */
  }

  #loopR {
  /*   border: 2px solid green; */
    left: 112px;
  }

  #ribbonR {
  /*   border: 2px solid blue; */
    left: 105px;
    animation-name: ribbonR-movement;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
  }

  @keyframes ribbonR-movement {
    25% {
      top: 212px;
      left: 100px;
      transform: rotate(7deg);
    }

    45% {
      top: 210px;
      left: 105px;
      transform: rotate(0deg);
    }

    85% {
      top: 211px;
      left: 103px;
      transform: rotate(3deg);
    }
    100% {
      top: 210px;
      left: 105px;
      transform: rotate(0deg);
    }
  }

  #ribbonL {
  /*   border: 2px solid pink; */
    left: 53px;
    animation-name: ribbonL-movement;
    animation-timing-function: ease-in-out;
    animation-duration: 3s;
  }

  @keyframes ribbonL-movement {
    25% {
      top: 208px;
      left: 48px;
      transform: rotate(7deg);
    }
    45% {
      top: 210px;
      left: 53px;
      transform: rotate(0deg);
    }
    85% {
      top: 209px;
      left: 50px;
      transform: rotate(3deg);
    }
    100% {
      top: 210px;
      left: 53px;
      transform: rotate(0deg);
    }
  }
}

@media only screen and (min-width: 580px) and (max-width: 799px) {

.nbsp {
  height: 290px;
  width: 149px;
  position: relative;

}

.bow {
  position: absolute;
}

#head {
/*   border: 2px solid red; */
  z-index: -1;
  left: -25px;
  top: 0px;
  transform: scale(0.75);
}

.loop {
  transform: scale(0.75);
  top: 142px;
}

.ribbon {
  transform: scale(0.75);
  top: 169px;
}

#loopL {
  left: -11px;
/*   border: 2px solid orange; */
}

#loopR {
/*   border: 2px solid green; */
  left: 73px;
}

#ribbonR {
/*   border: 2px solid blue; */
  left: 75px;
  animation-name: ribbonR-movement;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

@keyframes ribbonR-movement {
  25% {
    left: 71px;
    transform: scale(0.75) rotate(6deg);
  }

  45% {
    left: 75px;
    transform: scale(0.75) rotate(0deg);
  }

  85% {
    left: 72px;
    transform: scale(0.75) rotate(3deg);
  }
  100% {
    left: 75px;
    transform: scale(0.75) rotate(0deg);
  }
}

#ribbonL {
/*   border: 2px solid pink; */
  left: 33px;
  animation-name: ribbonL-movement;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

@keyframes ribbonL-movement {
  25% {
    left: 29px;
    transform: scale(0.75) rotate(6deg);
  }
  45% {
    left: 33px;
    transform: scale(0.75) rotate(0deg);
  }
  85% {
    left: 30px;
    transform: scale(0.75) rotate(3deg);
  }
  100% {
    left: 33px;
    transform: scale(0.75) rotate(0deg);
  }
}
}

@media only screen and (max-width: 579px) {

.nbsp {
  height: 290px;
  width: 139px;
  position: relative;
}

.bow {
  position: absolute;
}

#head {
/*   border: 2px solid red; */
  z-index: -1;
  left: -28px;
  top: 0px;
  transform: scale(0.65);
}

.loop {
  transform: scale(0.65);
  top: 132px;
}

.ribbon {
  transform: scale(0.65);
  top: 152px;
}

#loopL {
  left: -7px;
/*   border: 2px solid orange; */
}

#loopR {
/*   border: 2px solid green; */
  left: 64px;
}

#ribbonR {
/*   border: 2px solid blue; */
  left: 70px;
  animation-name: ribbonR-movement;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

@keyframes ribbonR-movement {
  25% {
    left: 71px;
    transform: scale(0.65) rotate(6deg);
  }

  45% {
    left: 75px;
    transform: scale(0.65) rotate(0deg);
  }

  85% {
    left: 72px;
    transform: scale(0.65) rotate(3deg);
  }
  100% {
    left: 75px;
    transform: scale(0.65) rotate(0deg);
  }
}

#ribbonL {
/*   border: 2px solid pink; */
  left: 32px;
  animation-name: ribbonL-movement;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
}

@keyframes ribbonL-movement {
  25% {
    left: 29px;
    transform: scale(0.65) rotate(6deg);
  }
  45% {
    left: 33px;
    transform: scale(0.65) rotate(0deg);
  }
  85% {
    left: 30px;
    transform: scale(0.65) rotate(3deg);
  }
  100% {
    left: 33px;
    transform: scale(0.65) rotate(0deg);
  }
}
}


  .annoyingdiv {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .bio-box {
    margin-top: 20px;
    display: flex;
    width: 100%;
    max-width: 665px;
    text-align: justify;
    @media only screen and (min-width: 580px) and (max-width: 799px) {
      max-width: 550px;
      margin: 0px;
    }
    p {
      @media only screen and (min-width: 580px) and (max-width: 799px) {
        margin: 0px;
      }
    }

  }

  .contact {
    display: flex;
    justify-content: center;
  }

}
